.overlay {
    background-color: rgba(0, 0, 0, 0.76);
    height: 100vh;
    position: absolute;
    top: 0px;
    display: flex;
    left: 0px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 4;
  }
  
  .main {
    margin-left: 42px;
    margin-top: 90px;
  }
  
  .divisor {
    width: 50px;
    margin-left: inherit;
    background: black;
    margin-bottom: 30px;
  }
  
  .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-popup, .signin-popup{
    height: auto;
    width: 326px;
    background: white;
    z-index: 5;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    padding: 40px 40px;
    box-shadow: 0px 0px 11px 5px #353535;
  }
  
  .signup-title {
    font-size: 29px;
    margin-top: 0px;
  }
  
  .signup-input-texts {
    font-weight: 400;
    font-size: 17px;
  }
  
  .signup-input-fields{
        height: 34px;
      width: 212px;
      border-radius: 3px;
      border: solid 1px gray;
      padding-left: 11px;
      color: darkslategray;
     box-sizing: border-box;
}
 
.signup-btn{
    margin-top: 30px;
    height: 40px;
    width: 98px;
    background: #252525;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-family: "Rajdhani";
    cursor: pointer;
    margin-bottom: 12px;
    transition: all 250ms linear;
}

.remove-btn{
  height: 40px;
  width: 98px;
  background: #252525;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-family: "Rajdhani";
  cursor: pointer;
  margin-bottom: 12px;
  transition: all 250ms linear;
}

.signup-btn:hover{
  box-shadow: 0px 0px 2px gray;
}

.signup-helpers{
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: underline;
    cursor: pointer
}

.animelist-instruction{
font-weight: 500;
display: inline-block;
padding-right: 55px;
}

.anime-lists-full{
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.anime-list-title {
  width: 202px;
  font-weight: 500;
  font-size: 18px;
  
}

.anime-list-img{
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px 0px 7px 3px #d6d6d6;
  width: 180px
}

.sign-out{
  margin-left: 30px;
}

@media(max-width: 700px){
  .anime-lists-full{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
}