.news {
  display: flex;
  justify-content: center;
  justify-content: left;
  padding-left: 74px;
  margin-bottom: 40px;
  column-gap: 41px;
}

.news--left {
  width: 192px;
  border-radius: 7px;
  background: white;
  border: none;
  box-shadow: 0px 0px 7px #5d5d5d;
}

.newsimg {
  height: 177px;
  box-shadow: 0px 0px 7px #5d5d5d;
  border-radius: 7px;
}

.newsdescription--text {
  width: 445px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.4px;
  text-align: left;
}

.readmore {
  height: 43px;
  width: 104px;
  border: none;
  background: #252525;
  color: white;
  border-radius: 7px;
  font-family: "Rajdhani";
}

.readmore:hover {
  background: black;
}
.newssect {
  display: flex;
  flex-wrap: wrap;
  width: 865px;
  justify-content: center;
  -moz-column-gap: 41px;
  column-gap: 41px;
  margin-left: 20px;
  overflow: auto;
}

.newsdescription {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -1px;
  width: 500px;
  line-height: 23px;
}
.news--right {
  text-align: left;
  margin-top: -19px;
  padding-bottom: 24px;
}
button {
  cursor: pointer;
}
