.mainsect {
  width: auto;
  margin-top: 18px;
}

.resultimg {
  border: none;
  height: 317px;
  width: 210px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 9px #959595;
}

.resultcont {
  display: flex;
  flex-direction: column;
  width: 288px;
}

.resultname {
  font-weight: 500;
  font-size: 20px;
  margin-top: 31px;
  width: 221px;
}

.resulttext {
  width: 238px;
  font-weight: 400;
  font-size: 15.4px;
  line-height: 23px;
  margin-top: 0px;
}

.interested-btn,
.interested-btn__2 {
  height: 46px;
  width: 110px;
  background: #252525;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Rajdhani";
  cursor: pointer;
}

.interested-btn__2 {
  margin-left: 17px;
  width: 39px;
  height: 37px;
  border: solid 1px white;
  background: white;
  display: flex;
  padding-right: 7px;
  border-radius: 29px;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px #c3c3c3;
  transition: all 400ms;
}

/* .interested-btn__2::after {
  content: "Add to Watchlist";
  position: relative;
  width: 50px;
  height: 40px;
  background: black;
} */

.interested-btn:hover {
  background: black;
}

.interested-btn__2:hover {
  border: white;
  box-shadow: 0px 0px 4px rgb(88, 88, 88);
}

.addtowaitlist {
  width: 17px;
}

.routerlinks {
  display: flex;
  align-items: center;
}

img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 1129px) {
  .resultcont {
    width: 225px;
  }
}

@media (max-width: 500px) {
  .resulttext {
    width: 286px;
    text-align: center;
  }

  .resultcont {
    align-items: center;
  }

  .resultname {
    width: 285px;
    text-align: center;
  }

  .bottomresult {
    text-align: center;
  }
}
