.imgcontainer {
  height: 270px;
  width: auto;
  border-radius: 7px;
  box-shadow: 0px 0px 7px #5d5d5d;
}

.releasename {
  font-weight: 500;
  margin-bottom: -8px;
  font-size: 21px;
  width: 205px;
  margin-top: 16px;
}

.releasedate {
  font-weight: 400;
  margin-top: 17px;
  font-size: 16px;
}

@media (max-width: 520px) {
  .imgcontainer {
    height: 213px;
  }

  .releasename {
    font-size: 17px;
    width: 146px;
  }

  .releasedate {
    font-size: 15px;
  }
}
