.phonenav {
  display: none;
}

ul {
  list-style-type: none;
  position: absolute;
  display: inline;
  top: 24.5px;
  right: 111px;
  font-size: 16.2px;
}

a {
  display: inline;
  margin-left: 155px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.links {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 1140px) {
  .second {
    display: none;
  }
}

@media (max-width: 1083px) {
  .hamburger {
    display: block;
  }

  .link {
    display: none;
  }

  a {
    margin-left: 10px;
    right: 0px;
    margin-bottom: 19px;
  }

  .first-text {
    margin-top: 11px;
  }

  .phonenav--cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
    width: 167px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(45deg, rgb(75, 75, 75), #141414);
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 6px #252525;
    z-index: 1000;
    transition: all 500ms ease-in-out;
  }

  .navbarAnimation {
    margin-left: -111px;
    margin-top: -160px;
    position: fixed;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .link2 {
    color: white;
    font-weight: 400;
    font-size: 15px;
  }

  .hamburger {
    position: absolute;
    right: 16px;
    width: 26px;
    bottom: 16px;
    cursor: pointer;
  }

  .second {
    display: none;
  }
}
