.main {
  margin-top: 115px;
  display: flex;
  justify-content: space-around;
}

.inputfield {
  height: 44px;
  width: 330px;
  border-radius: 9px;
  border: 0px;
  box-shadow: 0px 0px 5px #d5d5d5;
}

input {
  margin-top: 10px;
  font-family: Rajdhani;
  text-align: center;
  font-size: 16px;
}

.searchtext {
  font-weight: 500;
  font-size: 20px;
}

.searchsect {
  display: flex;
  align-items: flex-end;
}

.button {
  height: 46px;
  width: 110px;
  background: #252525;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Rajdhani";
  cursor: pointer;
  margin-left: 21px;
}
.rightsection {
  width: 700px;
}

.leftsection {
  width: 550px;
  overflow: auto;
  height: 650px;
  padding-left: 10px;
}

.leftsection::-webkit-scrollbar {
  display: none;
}
.newsblock--sect {
  display: flex;
  flex-wrap: wrap;
}

.rightarticle {
  border-radius: 7px;
  box-shadow: 0px 0px 7px #5d5d5d;
  height: 538px;
  background: white;
  padding: 0px 55px;
}

.waitingimg {
  width: 474px;
  padding-left: 70px;
  padding-top: 10px;
}

.articletitle {
  padding-top: 74px;
  font-size: 28px;
}

h4.content {
  font-weight: 400;
  line-height: 30px;
}

.extras {
  display: flex;
  column-gap: 30px;
  align-items: flex-start;
}

.extrainfo {
  background: black;
  color: white;
  width: auto;
  padding: 13px 14px;
  border-radius: 7px;
  margin-top: 29px;
  font-size: 14px;
}

.readon {
  background: none;
  border: none;
  color: blue;
  font-family: "Rajdhani";
  font-size: 15px;
  cursor: pointer;
}

.readon:hover {
  text-decoration: underline;
}

.nextarticle {
  background: black;
  color: white;
  padding: 9px 17px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  font-family: "Rajdhani";
  cursor: pointer;
}
