.mainpage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 70px;
}

.result {
  display: flex;
  justify-content: space-around;
  column-gap: 21px;
  width: 934px;
  flex-wrap: wrap;
  height: 85vh;
  overflow: auto;
}

.result::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

.result::-webkit-scrollbar-button {
  background: transparent;
  width: 10px;
}

.result::-webkit-scrollbar-thumb {
  background: #252525;
  width: 10px;
  border-radius: 4px;
}

.sorting {
  font-weight: 500;
}

.nextarrow {
  width: 54px;
  position: relative;
  right: 58px;
  height: 55px;
  top: 152px;
  cursor: pointer;
}

@media (max-width: 1363px) {
  .result {
    width: 620px;
  }
}

@media (max-width: 1129px) {
  .result {
    width: 79vw;
    height: 100vh;
    justify-content: space-between;
  }

  .searchSect {
    margin-bottom: 100px;
  }

  .resultcont {
    width: 247px;
  }

  .result::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1016px) {
  .result::-webkit-scrollbar {
    display: none;
  }

  .resultcont {
    width: 230px;
  }
}

@media (max-width: 1006) {
  .result {
    width: 83vw;
  }
}

@media (max-width: 907px) {
  .result {
    column-gap: 101px;
    row-gap: 32px;

    justify-content: center;
  }

  .sorting {
    display: none;
  }
}

/* PHONES */

@media (max-width: 500px) {
  .resultcont {
    width: 218px;
  }
}
